:root {
  box-sizing: border-box;
}
body {
  background-image: ;
}
.container {
}
p {
  color: #0baf94;
  font-size: 50px;
  font-weight: 700;
  text-shadow: 3px 3px #f90;
  text-align: center;
  margin: 1%;
}
h1 {
  color: #f90;
  font-size: 30px;
  font-weight: 900;
  text-shadow: 3px 3px #0baf94;
  text-align: center;
  margin: 1%;
}
#divider {
  text-align: center;
  border-bottom: 4px solid rgba(255, 41, 41, 0.555);
  height: 1px;
  margin: 20px auto;
  width: 50%;
}

ul {
  list-style: none;
}
.body {
}

.list-container {
  margin-top: 10px;
}
.list-title {
  text-align: center;
}
.list {
  display: flex;
  flex-direction: row;
  background-color: antiquewhite;
  border: 5px solid orange;
  border-radius: 15px;
  flex-wrap: wrap;
  padding: 10px;
  gap: 40px;
}
.main {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.leftview {
  position: fixed;
  display: flex;
  /* background-color: #a5510d; */
  padding: 10%;
  width: 20%;
  height: 20%;
}
.button {
  position: fixed;
  width: 20%;
  height: 5%;
  border-radius: 10px;
  top: 80%;
  left: 8%;
}

.rightview {
  display: flex;
  padding-left: 40%;
  left: 50%;
  flex-direction: column;
}

.imageAvatar {
  background-color: gainsboro;
}
.img {
  background-color: black;
}
span {
  font-size: medium;
}
